/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/montserrat-v15-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v15-latin_cyrillic-regular.woff') format('woff'); /* Modern Browsers */


}
/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/montserrat-v15-latin_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v15-latin_cyrillic-600.woff') format('woff'); /* Modern Browsers */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/montserrat-v15-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v15-latin_cyrillic-700.woff') format('woff'); /* Modern Browsers */
}
/* montserrat-800 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local(''),
       url('../fonts/montserrat-v15-latin_cyrillic-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v15-latin_cyrillic-800.woff') format('woff'); /* Modern Browsers */
}

:root {
  --color-btn: #FF9900;
  --color-text: #333;
  --color-descr: #fff;
  --color-active: #E1670E;
  --color-bg-color: #666;
  --color-border-bg: #CACACA;
}

* {
  box-sizing: border-box;

}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

h1, h2, h3, p {
  margin: 0;
}


.container {
  max-width: 1770px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.btn {
  display: inline-block;
  padding: 27px 39px;
  border: none;
  font-weight: bold;
  font-size: 23.5px;
  color: var(--color-descr);
  background-color: var(--color-btn);
  cursor: pointer;
  transition: background-color .2s ease-in-out;
}

.btn:hover {
  background-color: rgba(255, 153, 0, 0.6);
}

.btn:active {
  background-color: var(--color-active);
}

.btn_about-us {
  padding: 19px 36px 16px 35px;
  border: 3px solid var(--color-btn);
  color: var(--color-descr);
  font-weight: 700;
  font-size: 16px;
  background-color: transparent;
}

.btn_about-us:hover {
  background-color: var(--color-btn);
}

.btn_about-us:active {
  background-color: var(--color-active);
}

.btn_work {
  padding: 20px 38px;
  font-size: 16px;
  margin-right: 27px;
}

.btn_work-border {
  padding: 19px 37px;
  border: 1px solid var(--color-text);
  font-size: 16px;
  font-weight: normal;
  color: var(--color-text);
  background-color: transparent;
  transition-property: background-color, color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.btn_work-border:hover {
  background-color: var(--color-bg-color);
  color: var(--color-descr);
}

.btn_work-border:active {
  background-color: #000;
  color: var(--color-descr);
}


.btn_footer {
  padding: 21px 53px;
  margin-right: 18px;
  font-size: 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* HEADER */
.header {
  padding: 14px 0 11px 0;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
  align-items: center;

}

.header__burger {
  display: none;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__nav-search {
  display: flex;
  align-items: center;
}


.header__list {
  display: flex;
  align-items: center;
}


.header__item {
  border-bottom: 2px solid var(--color-descr);
  transition: border .2s ease-in-out;
}

.header__item:not(:last-child) {
  margin-right: 85px;
  margin-left: 1px;
}

.header__item:hover {
  border-bottom: 2px solid var(--color-btn);
}

.header__link {
  padding-top: 6px;
  display: inline-block;
  border-bottom: 2px solid var(--color-descr);
  vertical-align: sub;
  font-weight: 600;
  font-size: 18px;
  color: var(--color-text);
  transition: color .2s ease-in-out;
}

.header__link:active {
  color: var(--color-active);
}

.header__btn-search {
  padding-right: 11px;
  padding-top: 5px;
  margin-left: 66px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__btn-search circle {
  transition: stroke 0.2s ease-in-out;
}

.header__btn-search rect {
  transition: fill 0.2s ease-in-out;
}

.header__btn-search:hover .header__icon circle {
  stroke: var(--color-btn);
}

.header__btn-search:hover .header__icon rect {
  fill: var(--color-btn);
}

.header__btn-search:active .header__icon circle {
  stroke: var(--color-active);
}

.header__btn-search:active .header__icon rect {
  fill: var(--color-active);
}




/* SECTION MAIN */
.main {
  padding-bottom: 100px;
}

.main__container {
  padding: 103px 78px 91px 78px;
  min-height: 620px;
  background-image: url('../img/slider1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-right: 1px solid #333;
}

.main__title {
  max-width: 60%;
  margin-bottom: 19px;
  font-weight: 800;
  font-stretch: normal;
  font-size: 70px;
  line-height: 86px;
  color: var(--color-descr);
}

.main__descr {
  margin-bottom: 97px;
  max-width: 50%;
  font-weight: bold;
  font-size: 23px;
  line-height: 29px;
  color: var(--color-descr);
}


/* ABOUT-US */
.about-us__container {
  padding-bottom: 0;
  margin-bottom: 100px;
}

.subtitle {
  margin-bottom: 21px;
  padding-left: 2px;
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
  color: var(--color-text);
}

.descr {
  font-size: 16px;
  line-height: 32px;
  color: var(--color-text);
}

.about-us__descr {
  max-width: 70%;
  margin-bottom: 44px;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-text);
}

.about-us-icon {
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 18px;
  width: 16px;
  height: 16px;
  background-image: url('../icons/warning.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.about-us__content {
  display: flex;
}

.about-us__banner {
  display: flex;
  align-items: flex-end;
  margin-right: 30px;
  max-width: 870px;
  min-height: 622px;
  background-image: url('../img/about-us.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


.about-us__bg-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 39px 68px 42px 54px;
  max-width: 100%;
  min-height: 176px;
  max-height: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

.about-us__banner-descr {
  max-height: 100%;
  max-width: 66%;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-descr);
}


.about-us__card {
  padding: 71px 63px 50px 63px;
  display: flex;
  max-width: 870px;
  min-height: 295px;
  border: 1px solid var(--color-border-bg);
}

.about-us__card:not(:last-child) {
  margin-bottom: 30px;
}

.about-us__card-gear {
  padding-top: 55px;
}

.about-us__card-icon {
  display: block;
  width: 178px;
  height: 173px;
  margin-right: 59px;
  background-repeat: no-repeat;
  background-size: contain;
}

.about-us__card-icon1 {

  background-image: url('../icons/cube.svg');
}

.about-us__card-icon2 {
  background-image: url('../icons/gear.svg');
}

.about-us__card-content {
  max-width: 61%;
}

.subheader {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: var(--color-text);
}

.about-us__subheader {
  margin-top: 15px;
}

.about-us__card-descr {
  margin-top: 6px;
}

.about-us__card-descr1 {
  margin-top: 7px;
}

/* WORK */
.work__subtitle {
  padding-left: 0;
}

.work__list {
  display: flex;
  align-items: center;
  margin-top: 48px;
}

.work__item {
  margin-right: 90px;
  margin-bottom: 49px;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-text);
  cursor: pointer;
  transition: color .2s ease-in-out;
}

.work__item:hover {
  color: var(--color-btn);
}

.work__item:active {
  color: var(--color-active);
}


.work__item_active {
  color: var(--color-btn);
}

.work__content {
  display: flex;
}

.work__descrs {
  flex: 0 0 50%;
  padding-left: 2px;
  margin-right: 17px;
}

.work__subheader {
  margin-bottom: 7px;
}

.work__descr {
  max-width: 759px;
  margin-bottom: 62px;
}

.work__image {
  flex: 1 1 50%;
  max-width: 870px;
  min-height: 465px;
  margin-top: 7px;
  background-image: url('../img/work1.jpg');
  background-size: cover;
  background-position: center top;
}


/* QUESTIONS */

.questions__subtitle {
  margin-bottom: 0;
  padding-bottom: 38px;
  border-bottom: 1px solid var(--color-border-bg);
}

.questions__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 29px 5px;
  cursor: pointer;
  transition-property: border-top, border-bottom;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}


.questions__item:hover {
  border-top: 1px solid var(--color-btn);
  border-bottom: 1px solid var(--color-btn);


}
.questions__item:not(:hover) {
  border-top: 1px solid var(--color-descr);
  border-bottom: 1px solid var(--color-border-bg);

}



.questions__subheader::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.questions__subheader {
  transition: color .2s ease-in-out;
}

.questions__subheader:hover {
  color: var(--color-btn);
}

.span {
  color: var(--color-border-bg);
}



.questions__plus {
  padding: 10px;
  margin-right: 2px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ECECEC;
  position: relative;
  transition: background-color .2s ease-in-out;
}


.questions__item:hover .questions__plus {
  background-color: #D2D2D2;
}

.questions__item .span {
  transition: color .2s ease-in-out;
}

.questions__item:hover .span {
  color: var(--color-btn);
}

.questions__plus::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 31px;
  background-color: var(--color-bg-color);
  transform: translateY(13px);
}

.questions__plus::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 31px;
  background-color: var(--color-bg-color);
  transform: rotate(90deg) translateX(13px);
}

.footer {
  background-color: #222;
}

.footer__container {
  padding: 48px 0 80px 0;
  display: flex;

}


.footer__links {
  display: flex;
  flex-direction: column;
  flex: 0 0 30%;
  margin-right: 67px;

}

.footer__logo {
  display: inline-block;

}

.footer__item {
  margin-bottom: 14px;

}

.footer__list {
  margin-top: 15px;
  margin-bottom: 113px;
}

.footer__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-border-bg);
}

.footer__icon-link {
  display: inline-block;
  margin-right: 21px;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: contain;
}

.footer__icon-link1 {
  background-image: url('../icons/fb.svg');
}

.footer__icon-link2 {
  background-image: url('../icons/vk.svg');
}

.footer__icon-link3 {
  background-image: url('../icons/instagram.svg');
}

.form {
  display: flex;
  flex-direction: column;
  flex: 0 0 40%;
  width: 570px;
  margin-right: 101px;
}

.form__subtitle {
  padding-top: 10px;
  margin-bottom: 22px;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
  color: var(--color-border-bg);
}

.form__input {
  max-width: 570px;
  padding: 23px 24px 19px 25px;
  margin-bottom: 25px;
  margin-left: 2px;
  border: none;
  color: var(--color-descr);
  background-color: #414141;
  outline: none;
}

.form__input::placeholder {
  font-size: 16px;
  color: var(--color-border-bg);
}

.form__textarea {
  padding: 22px 24px 20px 26px;
  margin-bottom: 31px;
  margin-left: 2px;
  max-width: 570px;
  min-height: 150px;
  border: none;
  color: var(--color-descr);
  background-color: #414141;
  resize: none;
  outline: none;
}

.form__textarea::placeholder {
  font-size: 16px;
  color: var(--color-border-bg);
}

.form__label {
  display: inline-block;
  padding-top: 15px;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-border-bg);
}

.form__btn {
  margin-left: 2px;
}

.footer__descr {
  flex: 0 0 30%;
  margin-top: 79px;
  max-width: 360px;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-border-bg);
}

/* MEDIA */

@media (max-width: 1024px) {
  .container {
    max-width: 924px;
  }

  /* HEADER */

  .header {
    padding-top: 24px;
    padding-bottom: 21px;
  }

  .header__burger {
    display: block;
    width: 30px;
    height: 23px;
    margin-bottom: 1px;
  }

  .header__burger-line {

    width: 30px;
    height: 3px;
    background-color: var(--color-text);
  }

  .header__burger-line:not(:last-child) {
    margin-bottom: 7px;
  }

  .link__img {
    margin-left: 2px;
    margin-top: 2px;
    width: 150px;
    height: 48px;
  }

  .header__list {
    display: none;
  }

  .header__btn-search {
    padding-right: 0px;
    padding-top: 6px;
    margin-left: 0px;
  }

  /* MAIN */
  .main {
    padding-bottom: 59px;
  }
  .btn {
    padding: 26px 39px 26px 41px;
  }

  .main__container {
    padding-bottom: 115px;
    padding-top: 160px;
    padding-left: 45px;
    background-image: url('../img/slider1-1024.jpg');
    background-position: left top;
    background-size: cover;
  }

  .main__title {
    max-width: 100%;
    margin-bottom: 9px;
    font-size: 60px;
    line-height: 74px;
  }

  .main__descr {
    max-width: 94%;
    margin-bottom: 110px;
    font-size: 20px;
    line-height: 24px;
  }

  /* ABOUT-US */

  .subtitle {
    padding-left: 0;
    margin-bottom: 25px;
  }

  .about-us__descr {
    max-width: 100%;
  }

  .about-us__content {
    flex-direction: column;
  }

  /* FOOTER */
  .footer__descr {
    display: none;
  }
}
