@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.woff') format('woff');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}
:root {
  --color-link: #cc9933;
  --color-descr: #333;
  --color-white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Muller', sans-serif;
  background-color: #f1f1f1;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

b {
  font-size: 22px;
  color: var(--color-descr);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.link {
  font-size: 16px;
  line-height: 32px;
  color: var(--color-link);
  transition-property: color, text-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.link:hover {
  color: #cc8800;
  text-shadow: 0 0 15px  #ffb82a;
}

/* HEADER */

.header-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.header-logo {
  display: block;
  margin-right: 25px;
}
.header-phone {
  display: block;
  font-size: 22px;
  line-height: 1;
  font-weight: 800;
  color: #666;
  transition: color 0.3s ease-in-out;
}

.header-phone:hover {
  color: #cc9933;
}

.header-left {
  display: flex;
  align-items: center;
}



.link-header-up {
  padding-left: 30px;
  background-image: url('../icons/icon1.png');
  background-size: 21px 12px;
  background-position: left top;
  background-repeat: no-repeat;
}

.header-down {
  margin-top: 30px;
  padding: 25px 40px 25px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  background-color: var(--color-white);
}

.header-list {
  display: flex;
}



.header-item {
  font-size: 16px;
  line-height: 2;
}

.header-link {
  color: var(--color-descr);
  transition: color 0.2s ease-in-out;
}

.header-link:hover {
  color: #cc8800;
}

.header-item:not(:last-child) {
  margin-right: 40px;
}

.header-search-input {
  margin-right: 20px;
  padding: 10px 10px;
  max-width: 300px;
  border: none;
}

.header-search-input::placeholder {
  font-size: 14px;
  line-height: 32px;
  color: #bebebe;
}


.header-search-btn {
  padding: 13px 15px;
  vertical-align: middle;
  border: none;
  background-image: url('../icons/icon2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px;
  background-color: var(--color-white);
  outline: none;
  cursor: pointer;
opacity: 1;
  transition: opacity .2s ease-in-out;
}

.header-search-btn:hover {
  opacity: 0.6;
}

/* MAIN */

.main {
  margin-top: 65px;
}

.subtitle {
  font-weight: 400;
  margin-left: 45px;
  margin-bottom: 26px;
  font-size: 40px;
  line-height: 1;
  color: var(--color-descr);
}



.btn {
  display: inline-block;
  padding: 25px 30px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 800;
  color: var(--color-white);
  background-color: #cc9933;
  margin-right: 25px;
  cursor: pointer;
  outline: none;
  transition-property: border-radius, transform, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.btn:hover {
  transform: scale(1.05, 1.05);
  border-radius: 0;
  background-color: #ffb82a;

}

.descr {
  font-size: 16px;
  line-height: 32px;
  color: var(--color-descr);
}
/* RESERV AND OFFER */

.wrapper {
  display: flex;
  margin-bottom: 65px;
}

/* RESERV */
.reserv {
  flex-basis: 50%;

}
.reserv-inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.reserv-input {
  padding: 27px 20px;
  width: 518px;
  border: none;
  border-radius: 12px;
  margin-bottom: 23px;
  font-size: 16px;

}

.reserv-input::placeholder {
  line-height: 32px;
  color: #999;
}

.reserv-text {
  font-size: 16px;
  line-height: 32px;
  color: #999;
}

.reserv-num {
  color: #cc9933;
}

/* OFFER */

.offer {
  flex-basis: 50%;
  min-height: 100%;
}

.offer-banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 40px 50px 40px 40px;
  min-height: 540px;
  border-radius: 15px;
  background-image: url('../img/img1.jpg');
  background-repeat:no-repeat;
  background-position: center;
}

.offer-lux {
  margin-bottom: 40px;
  font-size: 66px;
  line-height: 1;
  font-weight: 800;
  color: var(--color-white);
}

.offer-num {
  margin-right: 35px;
  font-size: 35px;
  line-height: 1;
  color: #868482;
}

.offer-link {
  color: #ffcc66;
  background-image: url('../icons/arr.png');
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 15px;
}

/* INFO */

.info {
  margin-bottom: 65px;
}

.info-descr {
  margin-left: 45px;
  max-width: 887px;
  line-height: 32px;
  font-size: 16px;
  color: #666666;
}

/* SERVICES */

.services {
  margin-bottom: 60px;
}

.services-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
.services-item {
  max-width: 572px;
  min-height: 325px;
  border-radius: 12px;
  background-color: var(--color-white);
}

.services-item:nth-child(2n) {
  margin-left: 25px;
}

.services-item:nth-child(1), .services-item:nth-child(2) {
  margin-bottom: 25px;
}

.services-img {
  height: 165px;
  border-radius: 12px 12px 0 0;
  background-size: cover;
}

.services-img1 {
  background-image: url('../img/img2.jpg');
}

.services-img2 {
  background-image: url('../img/img3.jpg');
}

.services-img3 {
  background-image: url('../img/img4.jpg');
}

.services-img4 {
  background-image: url('../img/img5.jpg');
}

.services-content {
  padding: 35px 140px 40px 40px;
}


.services-content3 {
  padding: 35px 110px 40px 40px;

}

.services-link {
  display: inline-block;
  padding-right: 20px;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.5;
  background-image: url('../icons/arr.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 8px 16px;
}



/* advantages */

.advantages {
  margin-bottom: 40px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;

}

.advantages-item {
  max-width: 275px;
  min-height: 275px;
  padding: 40px;
  border-radius: 12px;
  background-color: var(--color-white);
  margin-bottom: 25px;

}

.advantages-item:not(:nth-child(4n)) {
  margin-right: 23px;
}



.advantages-icon {
  margin-bottom: 18px;
  height: 59px;
  max-width: 70px;
  background-repeat: no-repeat;

}

.advantages-icon1 {
  background-image: url('../icons/icon3.png');
}

.advantages-icon2 {
  background-image: url('../icons/icon4.png');
}

.advantages-icon3 {
  background-image: url('../icons/icon5.png');
}

.advantages-icon4 {
  background-image: url('../icons/icon6.png');
}

.advantages-icon5 {
  background-image: url('../icons/icon7.png');
}

.advantages-icon6 {
  background-image: url('../icons/icon8.png');
}

.advantages-icon7 {
  background-image: url('../icons/icon9.png');
}

.advantages-icon8 {
  background-image: url('../icons/icon10.png');
}

/* accom */

.accom {
  margin-bottom: 65px;
}

.accom-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.accom-item {
  width: 373px;
  min-height: 440px;
  border-radius: 12px;
  background-color: var(--color-white);
}

.accom-item:not(:nth-child(3n)) {
  margin-right: 25px;
}

.accom-img {
  max-width: 100%;
  height: 217px;
  border-radius: 12px 12px 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
}

.accom-img1 {
  background-image: url('../img/img6.jpg');
}

.accom-img2 {
  background-image: url('../img/img7.jpg');
}
.accom-img3 {
  background-image: url('../img/img8.jpg');
}
.accom-img4 {
  background-image: url('../img/img9.jpg');
}
.accom-img5 {
  background-image: url('../img/img10.jpg');
}
.accom-img6 {
  background-image: url('../img/img11.jpg');
}
.accom-img7 {
  background-image: url('../img/img12.jpg');
}
.accom-img8 {
  background-image: url('../img/img13.jpg');
}

.accom-item:nth-child(1), .accom-item:nth-child(2),
.accom-item:nth-child(3), .accom-item:nth-child(4),
.accom-item:nth-child(5), .accom-item:nth-child(6) {
  margin-bottom: 25px;
}

.accom-content {
  padding: 35px 43px 43px 43px;

}

.accom-rait {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.accom-hotel {
  margin-bottom: 15px;
}

.accom-price {
  font-size: 16px;
  line-height: 32px;
  color: var(--color-descr);
}
.span {
  margin-bottom: 20px;
  color: #969696;
}

.btn-white {
  padding: 10px 15px;
  border: 1px solid #cc9933;
  font-size: 16px;
  color: #cc9933;
  background-color: var(--color-white);
  transition-property: border-radius, border-color, transform, background-color, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;

}
.btn-white:hover {
  color: var(--color-white);
  border-color: #ffb82a;
}

.accom-item-link {
  padding: 50px 35px;
  background-image: url('../img/img14.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.link-white {
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 100%;
  font-size: 22px;
  line-height: 17px;
  color: var(--color-white);
  background-image: url('../icons/arr_white.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  transition-property: color, font-weight, filter;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.link-white:hover {
  color: var(--color-white);
  font-weight: 700;
  filter: brightness(150%);
}

.link-white::before {
  content: '';
  position: absolute;
  width: 373px;
  min-height: 454px;
  bottom: -50px;
  left: -35px;
}

.contacts-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  padding: 45px;
  border-radius: 12px;
  background-color: var(--color-white);
}



.contacts-info-user {
  display: flex;
  justify-content: space-between;
  padding: 27px 0;
  border-bottom: 1px solid #cccccc;
}

.contacts-hotels {
  margin-right: 35px;
  font-size: 22px;
  font-weight: 800;
  line-height: 32px;
  color: #666666;
}
.contacts-info-user:nth-child(1) {
  padding-top: 8px;
}
.contacts-info-user:nth-child(4) {
  margin-bottom: 45px;
}

.contacts-data {
  max-width: 240px;
}

.address {
  font-size: 16px;
  line-height: 24px;
  color: var(--color-descr);
  font-style: normal;
}

.contacts-link-phone {
  margin-right: 80px;
  line-height: 24px;
}

.hotels-line-hight {
  line-height: 22px;
}

.contacts-line-hight {
  line-height: 26px;
}

.form-question {
  width: 640px;
}

.contacts-input {
  padding: 25px 20px;
  width: 48%;
  border-radius: 12px;
  border: none;
  background-color: #f1f1f1;
}

.contacts-input::placeholder {
  font-size: 16px;
  line-height: 32px;
  color: #a5a5a5;
}

.contacts-input:not(:last-child) {
  margin-right: 20px;
}

.btn-white-big {
  padding: 25px;
  margin-right: 0;
}

.contacts-form-question {
  width: 100%;
  height: 219px;
  padding: 20px;
  margin-bottom: 24px;
  border-radius: 12px;
  border: none;
  background-color: #f1f1f1;
  resize: none;
}

.contacts-form-question::placeholder {
  font-size: 16px;
  line-height: 32px;
  color: #a5a5a5;
}

.contacts-info {
  margin-bottom: 25px;
}

.contacts-agreement {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
}

.contacts-agreement-link {
  line-height: 24px;
}

.btn-big {
  padding: 26px 125px;
  margin-right: 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  margin-bottom: 50px;
  padding: 45px 50px;
  border-radius: 12px;
  background-color: var(--color-descr);
  background-image: url('../img/sun.png');
  background-repeat: no-repeat;
  background-position: 735px bottom;
}

.footer-descrs {
  max-width: 345px;
}

.footer-descr {
  margin-bottom: 45px;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white);
}

.footer-info {
  max-width: 365px;
  margin-right: 160px;
}

.address-white {
  line-height: 32px;
  color: var(--color-white);
  margin-bottom: 40px;
}

.footer-link {
  display: block;
  margin-right: 0;
}

.footer-link:last-child {
  margin-bottom: 30px;
}

.link-email {
  display: block;
  line-height: 24px;

}

.footer-icon {
  display: block;
  height: 32px;
  width: 32px;
  margin-bottom: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 29px;
  transition-property: background-size;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.footer-icon:hover {
  background-size: 32px;
}

.footer-icon1 {
  margin-top: 3px;
  background-image: url('../icons/tripadvisor.png');
}

.footer-icon2 {
  background-image: url('../icons/twitter.png');
}

.footer-icon3 {
  background-image: url('../icons/facebook.png');
}

.footer-icon4 {
  background-image: url('../icons/social.png');
}

.footer-icon5 {
  background-image: url('../icons/google.png');
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
